<div style="background-color: #6193e2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 align-items-center text-center">
        <div class="title-heading mt-4 pb-60">
          <img
            src="../assets/lasse.png"
            class="img-fluid rounded-circle"
            width="15%"
            style="border: 5px solid #eee"
            alt="Lasse Image"
          />
          <h1 class="text-white mt-1">Lasse Vestergaard</h1>
          <h6><em>Jeg er en frontend/backend web udvikler</em></h6>
          <div class="hero-btn mt-2 pt-2 mb-2">
            <a href="#projects" class="btn btn-outline-light rounded me-2 mb-2">
              <i class="fa-solid fa-code"></i> Mine Projekter
            </a>

            <a href="#contact" class="btn btn-dark rounded text-white mb-2">
              <i class="fa-solid fa-envelope"></i> Kontakt Mig</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
