<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Lasse Vestergaard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex" style="text-transform: capitalize">
        <a
          class="btn-link"
          style="text-decoration: none; color: #eee; margin-left: 15px"
          type="submit"
        >
          <i class="fa-solid fa-house"></i> Hjem
        </a>
        <a
          class="btn-link"
          style="text-decoration: none; color: #eee; margin-left: 15px"
          href="#about"
        >
          <i class="fa-solid fa-user"></i> Om mig
        </a>
        <a
          class="btn-link"
          style="text-decoration: none; color: #eee; margin-left: 15px"
          type="submit"
        >
          <i class="fa-solid fa-code"></i> Projekter
        </a>
        <a
          class="btn-link"
          style="text-decoration: none; color: #eee; margin-left: 15px"
          type="submit"
        >
          <i class="fa-solid fa-envelope"></i> Kontakt
        </a>
      </div>
    </div>
  </div>
</nav>
